* {
    font-family: 'Roboto', sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

#main-page {
    border: 2px solid white;
    border-radius: 5%;
}

#main-page:hover {
    border: 2px solid grey;
    border-radius: 5%;
    color: black;
    background-color: grey
    /* font-size:large; */
}

body {
    margin: none;
    min-width: 100vw;
    min-height: 100vh;
    display: grid;
    background-image: url("light-background.png");
}

main {
    padding: 16px;
    margin-bottom: 100px;
}

footer {
    padding: 6px 0px;
    position: relative;
    background-color: rgb(164, 201, 89);
    width: 100vw;
    border-top: 1px solid black;
    text-align: center;
}

#centered-img {
    text-align: center;
}

img {
    height: 200px;
    border-radius: 10%;
}

#detail-img {
    box-shadow: 2px 2px 9px 3px rgb(61, 74, 214);
}

.food-grid {
    /* border: 2px solid black; */
    padding-top: 25px;
}
.food-grid img:hover{
    box-shadow: 2px 2px 9px 3px black;
    transition: box-shadow 0.2s
}

.food-grid div {
    text-align: center;
}

header {
    border-bottom: 1px solid black;
    background-color: orangered;
}

header a {
    color: white;
}

a {
    color: green;
    text-decoration: none;
}
a:hover {
    color: black;
    font-weight:900;
}

h1 {
    color: darkgreen;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 25px;
}

h2 {
    text-align: center;
    padding-top: 10px;
}

h3 {


}
.food-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: repeat(2, auto);

}

tr:nth-child(2n) {
    background-color: lightgrey;
}

table {
    margin-left: auto;
    margin-right: auto;
    border: 2px solid black
}

.center {
    text-align: center;
    margin-left: auto
}

ol {
    display: inline;
}
